body{
    background-color: blueviolet;
    background-image: url('https://images.unsplash.com/photo-1682687220989-cbbd30be37e9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}


.box
{
    width: 360px;
    padding: 33px;
    margin-left: 33%;
    margin-top: 5px;
    text-align: center;
    /* background-color: rgb(210, 148, 81)65, 101, 42); */

}
input
{
    width: 270px;
    padding: 8px;
    border: 2px solid black;
    outline: none;
    font-size: 19px;
}
button
{
    width: 60px;
    height: 41px;
    background-color:black;
    color: white;
    border-radius: 2px;
    font-size: 19px;
}
.text ul{
    position: relative;
    background-color: rgb(138, 92, 13);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }